<div class="div">
    <div class="div-7">
        <div class="div-8">About Us</div>
        <div class="div-9">
            At Rentify , we believe in making the process of finding or listing a
            property for rent simple, efficient, and stress-free. Our platform is
            designed to connect property owners with potential tenants, providing a
            seamless experience for both parties involved.
            <br />
            <br />
            Our Mission
            <br />
            Our mission is to redefine the way people find and list rental properties.
            We aim to create a community-driven platform that empowers users to make
            informed decisions about their housing needs. Whether you're a property
            owner looking to showcase your space or a tenant searching for the perfect
            home, Rentify is your trusted partner in the rental journey.
            <br />
            <br />
            How Rentify Works
            <br />
            List Your Property:
            <br />
            Create a detailed profile for your property with high-quality images and
            essential information.
            <br />
            Set your rental terms, preferences, and connect with potential tenants
            hassle-free.
            <br />
            Find Your Ideal Rental:
            <br />
            Browse through an extensive list of available properties.
            <br />
            Use advanced search filters to narrow down options based on your specific
            requirements.
            <br />
            <br />
            Why Choose Rentify ?
            <br />
            User-Friendly Interface: We've designed our platform with simplicity in
            mind. Easily navigate through listings, create your property profile, or
            find the ideal rental home—all with just a few clicks.
            <br />
            Wide Range of Options: Explore a diverse range of rental properties
            tailored to your preferences. From cozy apartments to spacious houses, we
            have a collection that suits every lifestyle.
            <br />
            Transparent and Secure: [Your Website Name] prioritizes transparency and
            security. Our verification processes and detailed property listings ensure
            a safe and reliable rental experience for all users.
        </div>
    </div>
</div>
<style>
    .div {
        background-color: #fff;
        display: flex;
        padding-bottom: 50px;
        flex-direction: column;
        color: #000;
    }

    .div-2 {
        background-color: #dfe8f3;
        display: flex;
        width: 100%;
        align-items: start;
        justify-content: space-between;
        gap: 20px;
        font-size: 32px;
        font-weight: 400;
        padding: 34px 52px;
    }

    @@media (max-width: 991px) {
        .div-2 {
            max-width: 100%;
            flex-wrap: wrap;
            padding: 0 20px;
        }
    }

    .img {
        aspect-ratio: 1;
        object-fit: auto;
        object-position: center;
        width: 81px;
        border-radius: 50%;
    }

    .div-3 {
        display: flex;
        margin-top: 15px;
        align-items: end;
        justify-content: space-between;
        gap: 20px;
    }

    @@media (max-width: 991px) {
        .div-3 {
            max-width: 100%;
            flex-wrap: wrap;
        }
    }

    .div-4 {
        font-family: Inria Sans, sans-serif;
        border-radius: 10px;
        background-color: #bdcce0;
        align-self: stretch;
        flex-grow: 1;
        justify-content: center;
        white-space: nowrap;
        padding: 20px 18px;
    }

    @@media (max-width: 991px) {
        .div-4 {
            white-space: initial;
            padding-right: 20px;
        }
    }

    .div-5 {
        color: #101112;
        font-family: Inria Sans, sans-serif;
        margin-top: 28px;
        flex-grow: 1;
        flex-basis: auto;
    }

    .div-6 {
        font-family: Inria Sans, sans-serif;
        margin-top: 28px;
    }

    .div-7 {
        display: flex;
        margin-top: 38px;
        width: 100%;
        flex-direction: column;
        padding: 0 80px;
    }

    @@media (max-width: 991px) {
        .div-7 {
            max-width: 100%;
            padding: 0 20px;
        }
    }

    .div-8 {
        margin: 0 13px;
        font: 700 48px Inria Sans, sans-serif;
    }

    @@media (max-width: 991px) {
        .div-8 {
            max-width: 100%;
            margin-right: 10px;
            font-size: 40px;
        }
    }

    .div-9 {
        border-radius: 15px;
        background-color: #bdcce0;
        justify-content: center;
        margin: 29px 13px 0;
        padding: 60px 91px 43px 90px;
        font: 400 32px Inria Sans, sans-serif;
    }

    @@media (max-width: 991px) {
        .div-9 {
            max-width: 100%;
            margin-right: 10px;
            padding: 0 30px 0 20px;
        }
    }
</style>