<div class="div">
    <div class="div-2">FAQs</div>
    <div class="div-3">
        <div class="div-4"></div>
        <div class="div-5">
            Can I register a property on behalf of someone else?
            <br />
            Since your house is a valuable asset, we need a registered phone number,
            email ID, valid ownership proof,
            <br />
            and ID proof. If you have access to these documents for the property, you
            can list it on someone else's behalf.
        </div>
        <div class="div-6"></div>
        <div class="div-7">
            I don't live in India. Can I list a house? How can I do this?
            <br />
            Yes, we have thousands of NRI homeowners who’ve trusted us with their
            property. We request you to go ahead.
        </div>
        <div class="div-8"></div>
        <div class="div-9">
            Can I rent out the house by keeping a portion of it locked?
            <br />
            Yes, it is possible for you to list a partially locked house. For
            instance, if you have a 3 BHK, and you want to keep
            <br />
            1 room locked, you can list it as a 2 BHK house on our platform and
            clarify the same in the house description.
        </div>
        <div class="div-10"></div>
        <div class="div-11">
            Can I rent out an unfurnished house through Nestaway?
            <br />
            Every home must have some basic furniture, including but not limited to
            the following:a.Kitchen
            <br />
            slab/sinkb.Bathroom fittingsc.Electrical fittings, including fans and
            lightsd.Doors, windows, and curtain rodsApart
            <br />
            from these, we advise you to have wardrobes and geysers,as this increases
            the chances of renting the house. You
            <br />
            can contact your Rentify representative in case you need furnishing
            assistance.
        </div>
        <div class="div-12"></div>
        <div class="div-13">
            How does Nestaway ensure that my house is returned to me in the same
            condition as when it was given to them?
            <br />
            We keep detailed video recordings of the house at every stage, including
            when we take over from the owner, move in
            <br />
            a new tenant, move a tenant out, or make the final handover back to the
            owner. The video recordings are judged by
            <br />
            our proprietary AI-ML algorithm and cross-verified by our in-house team,
            and charges for any damages/repairs are
            <br />
            calculated based on the same. These details are also available to you on
            your dashboard to ensure complete
            <br />
            transparency.
        </div>
        <div class="div-14"></div>
    </div>
</div>
<style>
    .div {
        background-color: rgba(189, 204, 224, 1);
        align-self: center;
        display: flex;
        margin-top: 5px;
        width: 100%;
        max-width: 1411px;
        flex-direction: column;
        padding: 0px 20px;
    }

    @@media (max-width: 991px) {
        .div {
            max-width: 100%;
        }
    }

    .div-2 {
        align-self: center;
        margin-top: 10px;
        font: 600 96px Inter, sans-serif;
    }

    @@media (max-width: 991px) {
        .div-2 {
            margin-top: 40px;
            font-size: 40px;
        }
    }

    .div-3 {
        aline-text:center;
        display: flex;
        margin-top: 9px;
        flex-direction: column;
        font-size: 20px;
        font-weight: 400;
        padding: 0 33px;
    }

    @@media (max-width: 991px) {
        .div-3 {
            max-width: 100%;
            padding: 0 20px;
        }
    }

    .div-4 {
        background-color: #000;
        height: 1px;
    }

    @@media (max-width: 991px) {
        .div-4 {
            max-width: 100%;
        }
    }

    .div-5 {
        font-family: Inria Sans, sans-serif;
        align-self: start;
        margin: 20px 0 0 20px;
    }

    @@media (max-width: 991px) {
        .div-5 {
            max-width: 100%;
        }
    }

    .div-6 {
        background-color: #000;
        margin-top: 53px;
        height: 1px;
    }

    @@media (max-width: 991px) {
        .div-6 {
            max-width: 100%;
            margin-top: 40px;
        }
    }

    .div-7 {
        font-family: Inria Sans, sans-serif;
        margin: 31px 20px 0;
    }

    @@media (max-width: 991px) {
        .div-7 {
            max-width: 100%;
            margin-right: 10px;
        }
    }

    .div-8 {
        background-color: #000;
        margin-top: 41px;
        height: 1px;
    }

    @@media (max-width: 991px) {
        .div-8 {
            max-width: 100%;
            margin-top: 40px;
        }
    }

    .div-9 {
        font-family: Inria Sans, sans-serif;
        margin: 31px 20px 0;
    }

    @@media (max-width: 991px) {
        .div-9 {
            max-width: 100%;
            margin-right: 0px;
        }
    }

    .div-10 {
        background-color: #000;
        margin-top: 37px;
        height: 1px;
    }

    @@media (max-width: 991px) {
        .div-10 {
            max-width: 100%;
        }
    }

    .div-11 {
        font-family: Inria Sans, sans-serif;
        align-self: center;
        margin: 27px 20px 0;
    }

    @@media (max-width: 991px) {
        .div-11 {
            max-width: 100%;
        }
    }

    .div-12 {
        background-color: #000;
        margin-top: 42px;
        height: 1px;
    }

    @@media (max-width: 991px) {
        .div-12 {
            max-width: 100%;
            margin-top: 40px;
        }
    }

    .div-13 {
        font-family: Inria Sans, sans-serif;
        margin: 28px 20px 0;
    }

    @@media (max-width: 991px) {
        .div-13 {
            max-width: 100%;
            margin-right: 10px;
        }
    }

    .div-14 {
        background-color: #000;
        margin-top: 36px;
        height: 1px;
    }

    @@media (max-width: 991px) {
        .div-14 {
            max-width: 100%;
        }
    }
</style>