<div class="div-123">
    <div class="div-7">
      <div class="div-8">
        <div class="div-9">YOUR DESTINATION FOR HOUSE RENTALS</div>
        <img
          loading="lazy"
          srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/2d7cc9a63c15487b8eec71c5a1f196aa417d7806d07e4b476c3d51ac7d8fcff0?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/2d7cc9a63c15487b8eec71c5a1f196aa417d7806d07e4b476c3d51ac7d8fcff0?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/2d7cc9a63c15487b8eec71c5a1f196aa417d7806d07e4b476c3d51ac7d8fcff0?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/2d7cc9a63c15487b8eec71c5a1f196aa417d7806d07e4b476c3d51ac7d8fcff0?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/2d7cc9a63c15487b8eec71c5a1f196aa417d7806d07e4b476c3d51ac7d8fcff0?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/2d7cc9a63c15487b8eec71c5a1f196aa417d7806d07e4b476c3d51ac7d8fcff0?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/2d7cc9a63c15487b8eec71c5a1f196aa417d7806d07e4b476c3d51ac7d8fcff0?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/2d7cc9a63c15487b8eec71c5a1f196aa417d7806d07e4b476c3d51ac7d8fcff0?apiKey=6be4bae03eb840ae9f1fe19d6134013d&"
          class="img-2"
        />
        <div class="div-10">
          <img
            loading="lazy"
            srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/799bbd0ca3a859e5453701c92771d5a4036c73ffb4c50152ed18cc374c6fa4ee?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/799bbd0ca3a859e5453701c92771d5a4036c73ffb4c50152ed18cc374c6fa4ee?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/799bbd0ca3a859e5453701c92771d5a4036c73ffb4c50152ed18cc374c6fa4ee?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/799bbd0ca3a859e5453701c92771d5a4036c73ffb4c50152ed18cc374c6fa4ee?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/799bbd0ca3a859e5453701c92771d5a4036c73ffb4c50152ed18cc374c6fa4ee?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/799bbd0ca3a859e5453701c92771d5a4036c73ffb4c50152ed18cc374c6fa4ee?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/799bbd0ca3a859e5453701c92771d5a4036c73ffb4c50152ed18cc374c6fa4ee?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/799bbd0ca3a859e5453701c92771d5a4036c73ffb4c50152ed18cc374c6fa4ee?apiKey=6be4bae03eb840ae9f1fe19d6134013d&"
            class="img-3"
          />
          <div class="div-11">Search</div>
        </div>
      </div>
      <div class="div-12">
        <div class="div-13">
          <div class="column">
            <div class="div-14">
              <div class="div-15">
                <div class="column-2">
                  <img
                    loading="lazy"
                    srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/d6166221764393bb3bc053c86aa7a708c52c8d36d82b2c7980f8535ffa492fa6?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/d6166221764393bb3bc053c86aa7a708c52c8d36d82b2c7980f8535ffa492fa6?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/d6166221764393bb3bc053c86aa7a708c52c8d36d82b2c7980f8535ffa492fa6?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/d6166221764393bb3bc053c86aa7a708c52c8d36d82b2c7980f8535ffa492fa6?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/d6166221764393bb3bc053c86aa7a708c52c8d36d82b2c7980f8535ffa492fa6?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/d6166221764393bb3bc053c86aa7a708c52c8d36d82b2c7980f8535ffa492fa6?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/d6166221764393bb3bc053c86aa7a708c52c8d36d82b2c7980f8535ffa492fa6?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/d6166221764393bb3bc053c86aa7a708c52c8d36d82b2c7980f8535ffa492fa6?apiKey=6be4bae03eb840ae9f1fe19d6134013d&"
                    class="img-4"
                  />
                </div>
                <div class="column-3">
                  <div class="div-16">
                                      <a asp-controller="signupController1" asp-action="referowner" class="btn btn-primary"> 
                                Instant deposit refund policy</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="column-4">
            <div class="div-17">
              <img
                loading="lazy"
                srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/c86cd82082d42d0921fe9aa6c2c243e85eb567c9dbf98e96884836f268e6ea33?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/c86cd82082d42d0921fe9aa6c2c243e85eb567c9dbf98e96884836f268e6ea33?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/c86cd82082d42d0921fe9aa6c2c243e85eb567c9dbf98e96884836f268e6ea33?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/c86cd82082d42d0921fe9aa6c2c243e85eb567c9dbf98e96884836f268e6ea33?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/c86cd82082d42d0921fe9aa6c2c243e85eb567c9dbf98e96884836f268e6ea33?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/c86cd82082d42d0921fe9aa6c2c243e85eb567c9dbf98e96884836f268e6ea33?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/c86cd82082d42d0921fe9aa6c2c243e85eb567c9dbf98e96884836f268e6ea33?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/c86cd82082d42d0921fe9aa6c2c243e85eb567c9dbf98e96884836f268e6ea33?apiKey=6be4bae03eb840ae9f1fe19d6134013d&"
                class="img-5"
              />
              <div class="div-188">
                <a asp-controller="signupController1" asp-action="referowner" class="btn btn-primary"> 
                    Refer a house owner to earn ₹ 1000* for every house listing we publish</a>
                
              </div>
            </div>
          </div>
          <div class="column-5">
            <div class="div-19">
              <div class="div-20">
                <div class="column-6">
                  <img
                    loading="lazy"
                    srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/f4e6702c5f44c0577e3c09af0522545755b489f27206c2d55910036572ccdf03?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/f4e6702c5f44c0577e3c09af0522545755b489f27206c2d55910036572ccdf03?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/f4e6702c5f44c0577e3c09af0522545755b489f27206c2d55910036572ccdf03?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/f4e6702c5f44c0577e3c09af0522545755b489f27206c2d55910036572ccdf03?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/f4e6702c5f44c0577e3c09af0522545755b489f27206c2d55910036572ccdf03?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/f4e6702c5f44c0577e3c09af0522545755b489f27206c2d55910036572ccdf03?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/f4e6702c5f44c0577e3c09af0522545755b489f27206c2d55910036572ccdf03?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/f4e6702c5f44c0577e3c09af0522545755b489f27206c2d55910036572ccdf03?apiKey=6be4bae03eb840ae9f1fe19d6134013d&"
                    class="img-6"
                  />
                </div>
                <div class="column-7">
                 <a asp-controller="signupController1" asp-action="referandearn" class="btn btn-primary"> 

                 Refer tenants & earn Rs 1000</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="div-22">
        <div class="div-23">
          <div class="column-8">
            <div class="div-24">
              <div class="div-25">
                <div class="column-9">
                  <img
                    loading="lazy"
                    srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/225a1a5890be562752638ffa59dab473f2129bfbdf4049f47d885187d8bedf96?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/225a1a5890be562752638ffa59dab473f2129bfbdf4049f47d885187d8bedf96?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/225a1a5890be562752638ffa59dab473f2129bfbdf4049f47d885187d8bedf96?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/225a1a5890be562752638ffa59dab473f2129bfbdf4049f47d885187d8bedf96?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/225a1a5890be562752638ffa59dab473f2129bfbdf4049f47d885187d8bedf96?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/225a1a5890be562752638ffa59dab473f2129bfbdf4049f47d885187d8bedf96?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/225a1a5890be562752638ffa59dab473f2129bfbdf4049f47d885187d8bedf96?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/225a1a5890be562752638ffa59dab473f2129bfbdf4049f47d885187d8bedf96?apiKey=6be4bae03eb840ae9f1fe19d6134013d&"
                    class="img-7"
                  />
                </div>
                <div class="column-10">
                  <div class="div-26">
                    <span style="font-size: 30px">Do you own a property?</span>

                    <span style="font-size: 28px">
                     <a asp-controller="signupController1" asp-action="listproperty" class="btn btn-primary">
                      list it here</a>
                     </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="column-11">
            <div class="div-27">
              <img
                loading="lazy"
                srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/29cfb0784cbe1e1633816b33505b31349c880f22d84d073c21f1912e6b961120?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/29cfb0784cbe1e1633816b33505b31349c880f22d84d073c21f1912e6b961120?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/29cfb0784cbe1e1633816b33505b31349c880f22d84d073c21f1912e6b961120?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/29cfb0784cbe1e1633816b33505b31349c880f22d84d073c21f1912e6b961120?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/29cfb0784cbe1e1633816b33505b31349c880f22d84d073c21f1912e6b961120?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/29cfb0784cbe1e1633816b33505b31349c880f22d84d073c21f1912e6b961120?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/29cfb0784cbe1e1633816b33505b31349c880f22d84d073c21f1912e6b961120?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/29cfb0784cbe1e1633816b33505b31349c880f22d84d073c21f1912e6b961120?apiKey=6be4bae03eb840ae9f1fe19d6134013d&"
                class="img-8"
              />
              <div class="div-28">
                <span style="font-size: 30px">Rent home at great price.</span>
                <span style="font-size: 28px">                 <a asp-controller="signupController1" asp-action="viewproperty" class="btn btn-primary"> 
                        choices</a></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="div-29">
      <div class="div-30">
        <div class="column-12">
          <div class="div-31">Designed for everyone</div>
        </div>
        <div class="column-13">
          <div class="div-32">
            <img
              loading="lazy"
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/8014ac11930b0a13789923aaafc18eea253e318dfaceff12b97457b1f57893d4?apiKey=6be4bae03eb840ae9f1fe19d6134013d&"
              class="img-9"
            />
            <img
              loading="lazy"
              srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/cd6f0b3853fac5715791fb045cfb37f62e547090be2d201e3f14120521233e55?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/cd6f0b3853fac5715791fb045cfb37f62e547090be2d201e3f14120521233e55?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/cd6f0b3853fac5715791fb045cfb37f62e547090be2d201e3f14120521233e55?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/cd6f0b3853fac5715791fb045cfb37f62e547090be2d201e3f14120521233e55?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/cd6f0b3853fac5715791fb045cfb37f62e547090be2d201e3f14120521233e55?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/cd6f0b3853fac5715791fb045cfb37f62e547090be2d201e3f14120521233e55?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/cd6f0b3853fac5715791fb045cfb37f62e547090be2d201e3f14120521233e55?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/cd6f0b3853fac5715791fb045cfb37f62e547090be2d201e3f14120521233e55?apiKey=6be4bae03eb840ae9f1fe19d6134013d&"
              class="img-10"
            />
            <div class="div-33">Homes for families</div>
            <div class="div-34">
              Rent a beautiful house for your family. Choose from flats and
              societies,
              <br />
              apartment,bungalows & villas
            </div>
          </div>
        </div>
        <div class="column-14">
          <div class="div-35">
            <img
              loading="lazy"
              srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/45c7afce87c380e6e6f990ed7eee78f03a5026dbc730e72777ceb041d1824006?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/45c7afce87c380e6e6f990ed7eee78f03a5026dbc730e72777ceb041d1824006?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/45c7afce87c380e6e6f990ed7eee78f03a5026dbc730e72777ceb041d1824006?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/45c7afce87c380e6e6f990ed7eee78f03a5026dbc730e72777ceb041d1824006?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/45c7afce87c380e6e6f990ed7eee78f03a5026dbc730e72777ceb041d1824006?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/45c7afce87c380e6e6f990ed7eee78f03a5026dbc730e72777ceb041d1824006?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/45c7afce87c380e6e6f990ed7eee78f03a5026dbc730e72777ceb041d1824006?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/45c7afce87c380e6e6f990ed7eee78f03a5026dbc730e72777ceb041d1824006?apiKey=6be4bae03eb840ae9f1fe19d6134013d&"
              class="img-11"
            />
            <div class="div-36">Homes for Friends</div>
            <div class="div-37">
              Rent a bachelor friendly house with your friends. Choose from flats,
              societies,individual,<br/>apartment,bungalows & villas
            </div>
          </div>
        </div>
        <div class="column-15">
          <div class="div-38">
            <img
              loading="lazy"
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/8014ac11930b0a13789923aaafc18eea253e318dfaceff12b97457b1f57893d4?apiKey=6be4bae03eb840ae9f1fe19d6134013d&"
              class="img-12"
            />
            <img
              loading="lazy"
              srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/e34d38dd08ed386bdfbaf48535f5f039c2c0f287dc183174afadc305242aceff?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/e34d38dd08ed386bdfbaf48535f5f039c2c0f287dc183174afadc305242aceff?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/e34d38dd08ed386bdfbaf48535f5f039c2c0f287dc183174afadc305242aceff?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/e34d38dd08ed386bdfbaf48535f5f039c2c0f287dc183174afadc305242aceff?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/e34d38dd08ed386bdfbaf48535f5f039c2c0f287dc183174afadc305242aceff?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/e34d38dd08ed386bdfbaf48535f5f039c2c0f287dc183174afadc305242aceff?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/e34d38dd08ed386bdfbaf48535f5f039c2c0f287dc183174afadc305242aceff?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/e34d38dd08ed386bdfbaf48535f5f039c2c0f287dc183174afadc305242aceff?apiKey=6be4bae03eb840ae9f1fe19d6134013d&"
              class="img-13"
            />
            <div class="div-39">Homes just for you</div>
            <div class="div-40">
              Rent a shared room or a private room for yourself. Choose from
              flats, societies,individual,<br/>apartment,bungalows & villas
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="div-41">
      <div class="div-42">Popular Localities</div>
      <div class="div-43">
        <div class="div-44">
          <div class="column">
            <div class="div-45">
              <img
                loading="lazy"
                srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/f3875de80207a1464224e16be2d5339c50bb5aa628ba4dcd934e4cf2501a505a?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/f3875de80207a1464224e16be2d5339c50bb5aa628ba4dcd934e4cf2501a505a?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/f3875de80207a1464224e16be2d5339c50bb5aa628ba4dcd934e4cf2501a505a?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/f3875de80207a1464224e16be2d5339c50bb5aa628ba4dcd934e4cf2501a505a?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/f3875de80207a1464224e16be2d5339c50bb5aa628ba4dcd934e4cf2501a505a?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/f3875de80207a1464224e16be2d5339c50bb5aa628ba4dcd934e4cf2501a505a?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/f3875de80207a1464224e16be2d5339c50bb5aa628ba4dcd934e4cf2501a505a?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/f3875de80207a1464224e16be2d5339c50bb5aa628ba4dcd934e4cf2501a505a?apiKey=6be4bae03eb840ae9f1fe19d6134013d&"
                class="img-14"
              />
              <div class="div-46">
                <div class="div-47">
                  <div class="div-48">20,000</div>
                  <img
                    loading="lazy"
                    srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/240588e4f514bdaaf4b6908a09ed89fdd39ed164a23f79e4367a47743030ff8c?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/240588e4f514bdaaf4b6908a09ed89fdd39ed164a23f79e4367a47743030ff8c?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/240588e4f514bdaaf4b6908a09ed89fdd39ed164a23f79e4367a47743030ff8c?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/240588e4f514bdaaf4b6908a09ed89fdd39ed164a23f79e4367a47743030ff8c?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/240588e4f514bdaaf4b6908a09ed89fdd39ed164a23f79e4367a47743030ff8c?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/240588e4f514bdaaf4b6908a09ed89fdd39ed164a23f79e4367a47743030ff8c?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/240588e4f514bdaaf4b6908a09ed89fdd39ed164a23f79e4367a47743030ff8c?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/240588e4f514bdaaf4b6908a09ed89fdd39ed164a23f79e4367a47743030ff8c?apiKey=6be4bae03eb840ae9f1fe19d6134013d&"
                    class="img-15"
                  />
                </div>
                <div class="div-49">
                  <span style="font-weight: 400; font-size: 29px">
                    2 bda - 2ba - 3000ft2
                  </span>
                  <br />
                  <span
                    style="
                      font-weight: 400;
                      font-size: 28px;
                      color: rgba(0, 0, 0, 1);
                    "
                  >
                    4 Bhk Independent house Rent Pipeline Road Kennedy Mukluk
                    Edappally
                  </span>
                  <br />
                  <br />
                  <span
                    style="
                      font-weight: 400;
                      font-size: 25px;
                      color: rgba(0, 0, 0, 1);
                    "
                  >
                    Padivattom, Kochi, Kerala
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="column-16">
            <div class="div-50">
              <img
                loading="lazy"
                srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/9765ff80fd37ad15d9d81fe1a1c2d9c932e0f8324c6cb91981b712b6fd2cb2c7?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/9765ff80fd37ad15d9d81fe1a1c2d9c932e0f8324c6cb91981b712b6fd2cb2c7?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/9765ff80fd37ad15d9d81fe1a1c2d9c932e0f8324c6cb91981b712b6fd2cb2c7?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/9765ff80fd37ad15d9d81fe1a1c2d9c932e0f8324c6cb91981b712b6fd2cb2c7?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/9765ff80fd37ad15d9d81fe1a1c2d9c932e0f8324c6cb91981b712b6fd2cb2c7?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/9765ff80fd37ad15d9d81fe1a1c2d9c932e0f8324c6cb91981b712b6fd2cb2c7?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/9765ff80fd37ad15d9d81fe1a1c2d9c932e0f8324c6cb91981b712b6fd2cb2c7?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/9765ff80fd37ad15d9d81fe1a1c2d9c932e0f8324c6cb91981b712b6fd2cb2c7?apiKey=6be4bae03eb840ae9f1fe19d6134013d&"
                class="img-16"
              />
              <div class="div-51">
                <div class="div-52">18,000</div>
                <div class="div-53">
                  <span style="font-weight: 400; font-size: 29px">
                    2 bda - 2 ba - 2500ft2
                  </span>
                  <br />
                  <span
                    style="
                      font-weight: 400;
                      font-size: 28px;
                      color: rgba(0, 0, 0, 1);
                    "
                  >
                    2 BHK furnished flat,car parking, bachelors,Guest House,
                    Elamkulam,EKM
                  </span>
                  <br />
                  <br />
                  <span
                    style="
                      font-weight: 400;
                      font-size: 25px;
                      color: rgba(0, 0, 0, 1);
                    "
                  >
                    Elamkulam, Kochi, Kerala
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="column-17">
            <div class="div-54">
              <img
                loading="lazy"
                srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/a4ee83123002c4f3ff7931e6bc806e8b25b4dd09041db896221d5750bb925341?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/a4ee83123002c4f3ff7931e6bc806e8b25b4dd09041db896221d5750bb925341?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/a4ee83123002c4f3ff7931e6bc806e8b25b4dd09041db896221d5750bb925341?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/a4ee83123002c4f3ff7931e6bc806e8b25b4dd09041db896221d5750bb925341?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/a4ee83123002c4f3ff7931e6bc806e8b25b4dd09041db896221d5750bb925341?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/a4ee83123002c4f3ff7931e6bc806e8b25b4dd09041db896221d5750bb925341?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/a4ee83123002c4f3ff7931e6bc806e8b25b4dd09041db896221d5750bb925341?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/a4ee83123002c4f3ff7931e6bc806e8b25b4dd09041db896221d5750bb925341?apiKey=6be4bae03eb840ae9f1fe19d6134013d&"
                class="img-17"
              />
              <div class="div-55">
                <div class="div-56">25,000</div>
                <div class="div-57">
                  <span style="font-weight: 400; font-size: 29px">
                    4 Bds - 4 Ba - 2700 ft2
                  </span>
                  <br />
                  <span
                    style="
                      font-weight: 400;
                      font-size: 28px;
                      color: rgba(0, 0, 0, 1);
                    "
                  >
                    Pandit colony 4 Bhk bungalow on rent
                  </span>
                  <br />
                  <br />
                
                  <span
                    style="
                      font-weight: 200;
                      font-size: 25px;
                      color: rgba(0, 0, 0, 1);
                    "
                  >
                    Old Pandit Colony, Nashik, Maharashtra
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="div-58">
      <div class="div-59">
        <div class="div-60"></div>
        <div class="div-61">
          <div class="div-62">
            <div class="column-18">
              <img
                loading="lazy"
                srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/14dfaf6488d9a24ba2bd34f6ec888e89db3e204ab24f5ea79e68faccd7783604?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/14dfaf6488d9a24ba2bd34f6ec888e89db3e204ab24f5ea79e68faccd7783604?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/14dfaf6488d9a24ba2bd34f6ec888e89db3e204ab24f5ea79e68faccd7783604?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/14dfaf6488d9a24ba2bd34f6ec888e89db3e204ab24f5ea79e68faccd7783604?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/14dfaf6488d9a24ba2bd34f6ec888e89db3e204ab24f5ea79e68faccd7783604?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/14dfaf6488d9a24ba2bd34f6ec888e89db3e204ab24f5ea79e68faccd7783604?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/14dfaf6488d9a24ba2bd34f6ec888e89db3e204ab24f5ea79e68faccd7783604?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/14dfaf6488d9a24ba2bd34f6ec888e89db3e204ab24f5ea79e68faccd7783604?apiKey=6be4bae03eb840ae9f1fe19d6134013d&"
                class="img-18"
              />
            </div>
            <div class="column-19">
              <div class="div-63">
                <div class="div-64">
                  <img
                    loading="lazy"
                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/ecf378367926864f0ea663d88b554f43af9687d88a698257fb7a698f1f8511f9?apiKey=6be4bae03eb840ae9f1fe19d6134013d&"
                    class="img-19"
                  />
                  <div class="div-65">Rajkot, Gujarat, India</div>
                </div>
                <div class="div-66">
                  <div class="div-67">
                    <img
                      loading="lazy"
                      src="https://cdn.builder.io/api/v1/image/assets/TEMP/92a23c56b3531b132c33af50d9f342d86086a32259f0e99ce1d49c20f7ac8118?apiKey=6be4bae03eb840ae9f1fe19d6134013d&"
                      class="img-20"
                    />
                    <div class="div-68">(123) 456-7890</div>
                  </div>
                  <div class="div-69">
                    <img
                      loading="lazy"
                      src="https://cdn.builder.io/api/v1/image/assets/TEMP/c03e608e190b11623b1db8f61b989a19df08fd1748a29e733dbce2348c739664?apiKey=6be4bae03eb840ae9f1fe19d6134013d&"
                      class="img-21"
                    />
                    <div class="div-70">(123) 456-7890</div>
                  </div>
                </div>
                <div class="div-71">
                  <div class="div-72">Social Media</div>
                  <img
                    loading="lazy"
                    srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/b7447c1cd079504be1c2645fe636ad5f75c1f7b1bcbaa9c5d4d65378fa96171e?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/b7447c1cd079504be1c2645fe636ad5f75c1f7b1bcbaa9c5d4d65378fa96171e?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/b7447c1cd079504be1c2645fe636ad5f75c1f7b1bcbaa9c5d4d65378fa96171e?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/b7447c1cd079504be1c2645fe636ad5f75c1f7b1bcbaa9c5d4d65378fa96171e?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/b7447c1cd079504be1c2645fe636ad5f75c1f7b1bcbaa9c5d4d65378fa96171e?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/b7447c1cd079504be1c2645fe636ad5f75c1f7b1bcbaa9c5d4d65378fa96171e?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/b7447c1cd079504be1c2645fe636ad5f75c1f7b1bcbaa9c5d4d65378fa96171e?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/b7447c1cd079504be1c2645fe636ad5f75c1f7b1bcbaa9c5d4d65378fa96171e?apiKey=6be4bae03eb840ae9f1fe19d6134013d&"
                    class="img-22"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="div-73"></div>
        <div class="div-74">
          <div class="div-75">
           <a asp-controller="signupController1" asp-action="aboutus" class="btn btn-primary"> 
               About us</a>
          </div>
                <div class="div-76">
           <a asp-controller="signupController1" asp-action="faqs" class="btn btn-primary"> 
                FAQ`s</a>         
        </div>
        </div>
      </div>
    </div>
  </div>
  <style>
    body{
       background-color: #dfe8f3;
    }
    .div-123{
      background-color: #dfe8f3;
      display: flex;
      flex-direction: column;
    }
    
    .div-3 {
      align-self: start;
      display: flex;
      margin-top: 21px;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
    }
    @@media (max-width: 991px) {
      .div-3 {
        max-width: 100%;
        flex-wrap: wrap;
      }
    }
    .div-4 {
      font-family: Inria Sans, sans-serif;
      border-radius: 10px;
      background-color: #bdcce0;
      align-self: stretch;
      flex-grow: 1;
      justify-content: center;
      padding: 7px 9px;
    }
    .div-5 {
      color: #101112;
      font-family: Inria Sans, sans-serif;
      align-self: stretch;
      margin: auto 0;
    }
    .div-6 {
      font-family: Inria Sans, sans-serif;
      align-self: stretch;
      margin: auto 0;
    }
    .div-7 {
      align-self: center;
      display: flex;
      margin-top: 37px;
      width: 100%;
      max-width: 1285px;
      flex-direction: column;
    }
    @@media (max-width: 991px) {
      .div-7 {
        max-width: 100%;
      }
    }
    .div-8 {
      display: flex;
      width: 100%;
      padding-right: 80px;
      align-items: flex-start;
      justify-content: space-between;
      gap: 20px;
      font-weight: 400;
    }
    @@media (max-width: 991px) {
      .div-8 {
        max-width: 100%;
        flex-wrap: wrap;
        padding-right: 20px;
      }
    }
    .div-9 {
      color: #0c3c68;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      align-self: start;
      flex-grow: 1;
      flex-basis: auto;
      font: 60px Old Standard TT, sans-serif;
    }
    @@media (max-width: 991px) {
      .div-9 {
        max-width: 100%;
        font-size: 40px;
      }
    }
    .img-2 {
      aspect-ratio: 1.73;
      object-fit: cover;
      object-position: center;
      width: 6000px;
      margin-left: 50px;
      min-height: 20px;
      min-width: 20px;
      overflow: hidden;
      
    }
    .div-10 {
      align-self: end;
      display: flex;
      margin-top: 413px;
      gap: 13px;
      font-size: 32px;
      color: #444951;
      white-space: nowrap;
    }
    @@media (max-width: 991px) {
      .div-10 {
        margin-top: 40px;
        white-space: initial;
      }
    }
    .img-3 {
      aspect-ratio: 1;
      object-fit: auto;
      object-position: center;
      width: 50px;
    }
    .div-11 {
      font-family: Inter, sans-serif;
      flex-grow: 1;
      margin: auto 0;
    }
    .div-12 {
      margin-top: 52px;
    }
    @@media (max-width: 991px) {
      .div-12 {
        max-width: 100%;
        padding-right: 20px;
        margin-top: 40px;
      }
    }
    .div-13 {
      gap: 20px;
      display: flex;
    }
    @@media (max-width: 991px) {
      .div-13 {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
      }
    }
    .column {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 33%;
      margin-left: 0px;
    }
    @@media (max-width: 991px) {
      .column {
        width: 100%;
      }
    }
    .div-14 {
      border-radius: 10px;
      background-color: rgba(126, 191, 220, 1);
      flex-grow: 1;
      width: 100%;
      padding: 20px 16px;
    }
    @@media (max-width: 991px) {
      .div-14 {
        margin-top: 32px;
      }
    }
    .div-15 {
      gap: 20px;
      display: flex;
    }
    @@media (max-width: 991px) {
      .div-15 {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
      }
    }
    .column-2 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 27%;
      margin-left: 0px;
    }
    @@media (max-width: 991px) {
      .column-2 {
        width: 100%;
      }
    }
    .img-4 {
      aspect-ratio: 0.7;
      object-fit: auto;
      object-position: center;
      width: 79px;
      flex-grow: 1;
    }
    @@media (max-width: 991px) {
      .img-4 {
        margin-top: 40px;
      }
    }
    .column-3 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 73%;
      margin-left: 20px;
    }
    @@media (max-width: 991px) {
      .column-3 {
        width: 100%;
      }
    }
    .div-16 {
      color: #000;
      align-self: stretch;
      margin: auto 0;
      font: 400 28px Inria Sans, sans-serif;
    }
    @@media (max-width: 991px) {
      .div-16 {
        margin-top: 40px;
      }
    }
    .column-4 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 33%;
      margin-left: 20px;
    }
    @@media (max-width: 991px) {
      .column-4 {
        width: 100%;
      }
    }
    .div-17 {
      border-radius: 10px;
      background-color: #f7bfbe;
      display: flex;
      flex-grow: 1;
      justify-content: space-between;
      gap: 20px;
      font-size: 28px;
      color: #000;
      font-weight: 400;
      width: 100%;
      padding: 32px 11px;
    }
    @@media (max-width: 991px) {
      .div-17 {
        margin-top: 32px;
      }
    }
    .img-5 {
      aspect-ratio: 0.78;
      object-fit: auto;
      object-position: center;
      width: 94px;
      align-self: start;
    }
    .div-188{
      font: 400 40px Inria Sans, sans-serif;
      flex-grow: 1;
      flex-basis: auto;
    }
    .column-5 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 33%;
      margin-left: 20px;
    }
    @@media (max-width: 991px) {
      .column-5 {
        width: 100%;
      }
    }
    .div-19 {
      border-radius: 10px;
      background-color: rgba(53, 184, 175, 1);
      flex-grow: 1;
      width: 100%;
      padding: 28px 19px 50px;
    }
    @@media (max-width: 991px) {
      .div-19 {
        margin-top: 32px;
      }
    }
    .div-20 {
      gap: 20px;
      display: flex;
    }
    @@media (max-width: 991px) {
      .div-20 {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
      }
    }
    .column-6 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 35%;
      margin-left: 0px;
    }
    @@media (max-width: 991px) {
      .column-6 {
        width: 100%;
      }
    }
    .img-6 {
      aspect-ratio: 1.09;
      object-fit: auto;
      object-position: center;
      width: 122px;
      fill: url(<path-to-image>), lightgray 50% / cover no-repeat;
      max-width: 100%;
    }
    @@media (max-width: 991px) {
      .img-6 {
        margin-top: 40px;
      }
    }
    .column-7 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 65%;
      margin-left: 20px;
    }
    @@media (max-width: 991px) {
      .column-7 {
        width: 100%;
      }
    }
    .div-21 {
      color: #000;
      align-self: stretch;
      margin: auto 0;
      font: 400 28px Inria Sans, sans-serif;
    }
    @@media (max-width: 991px) {
      .div-21 {
        margin-top: 40px;
      }
    }
    .div-22 {
      margin: 36px 30px 0;
    }
    @@media (max-width: 991px) {
      .div-22 {
        max-width: 100%;
        margin-right: 10px;
      }
    }
    .div-23 {
      gap: 20px;
      display: flex;
    }
    @@media (max-width: 991px) {
      .div-23 {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
      }
    }
    .column-8 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 50%;
      margin-left: 0px;
    }
    @@media (max-width: 991px) {
      .column-8 {
        width: 100%;
      }
    }
    .div-24 {
      border-radius: 10px;
      background-color: #bdcce0;
      flex-grow: 1;
      align-self: stretch;
      width: 90%;
      margin: auto 0;
      padding: 1px 33px;
    }
    @@media (max-width: 991px) {
      .div-24 {
        max-width: 100%;
        margin-top: 10px;
        padding: 0 20px;
      }
    }
    .div-25 {
      gap: 20px;
      display: flex;
    }
    @@media (max-width: 991px) {
      .div-25 {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
      }
    }
    .column-9 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 19%;
      margin-left: 0px;
    }
    @@media (max-width: 991px) {
      .column-9 {
        width: 100%;
      }
    }
    .img-7 {
      aspect-ratio: 0.94;
      object-fit: auto;
      object-position: center;
      width: 106px;
      max-width: 100%;
    }
    @@media (max-width: 991px) {
      .img-7 {
        margin-top: 14px;
      }
    }
    .column-10 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 81%;
      margin-left: 20px;
    }
    @@media (max-width: 991px) {
      .column-10 {
        width: 100%;
      }
    }
    .div-26 {
      color: #000;
      align-self: stretch;
      margin: auto 0;
      font: 400 32px Inria Sans, sans-serif;
    }
    @@media (max-width: 991px) {
      .div-26 {
        max-width: 100%;
        margin-top: 40px;
      }
    }
    .column-11 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 50%;
      margin-left: 20px;
    }
    @@media (max-width: 991px) {
      .column-11 {
        width: 100%;
      }
    }
    .div-27 {
      border-radius: 10px;
      background-color: #bdcce0;
      display: flex;
      flex-grow: 1;
      justify-content: space-between;
      gap: 20px;
      font-size: 32px;
      color: #000;
      font-weight: 400;
      width: 93%;
      padding: 15px 41px;
    }
    @@media (max-width: 991px) {
      .div-27 {
        max-width: 100%;
        margin-top: 6px;
        flex-wrap: wrap;
        padding: 0 20px;
      }
    }
    .img-8 {
      aspect-ratio: 0.81;
      object-fit: auto;
      object-position: center;
      width: 69px;
    }
    .div-28 {
      font-family: Inria Sans, sans-serif;
      flex-grow: 1;
      flex-basis: auto;
      margin: auto 0;
    }
    .div-29 {
      background-color: #5d6c89;
      margin-top: 29px;
      width: 100%;
      padding: 50px 76px;
    }
    @@media (max-width: 991px) {
      .div-29 {
        max-width: 100%;
        padding: 0 20px;
      }
    }
    .div-30 {
      gap: 20px;
      display: flex;
    }
    @@media (max-width: 991px) {
      .div-30 {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
      }
    }
    .column-12 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 25%;
      margin-left: 0px;
    }
    @@media (max-width: 991px) {
      .column-12 {
        width: 100%;
      }
    }
    .div-31 {
      color: #dfe8f3;
      margin-top: 57px;
      font: 700 65px Old Standard TT, sans-serif;
    }
    @@media (max-width: 991px) {
      .div-31 {
        margin-top: 40px;
        font-size: 40px;
      }
    }
    .column-13 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 25%;
      margin-left: 20px;
    }
    @@media (max-width: 991px) {
      .column-13 {
        width: 100%;
      }
    }
    .div-32 {
      disply: flex;
      flex-direction: column;
      fill: #5d6c89;
      overflow: hidden;
      position: relative;
      display: flex;
      aspect-ratio: 0.46;
      align-self: stretch;
      max-width: 362px;
      margin: auto 0;
      padding: 0 21px 50px;
    }
    @@media (max-width: 991px) {
      .div-32 {
        margin-top: 40px;
        padding-left: 20px;
      }
    }
    .img-9 {
      position: absolute;
      inset: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
    .img-10 {
      aspect-ratio: 1;
      object-fit: auto;
      object-position: center;
      width: 170px;
      max-width: 100%;
    }
    .div-33 {
      position: relative;
      color: #dfe8f3;
      margin-top: 33px;
      font: 600 40px Inter, sans-serif;
    }
    .div-34 {
      position: relative;
      color: #bdcce0;
      margin-top: 51px;
      font: 400 35px Inria Sans, sans-serif;
    }
    @@media (max-width: 991px) {
      .div-34 {
        margin-top: 40px;
      }
    }
    .column-14 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 25%;
      margin-left: 20px;
    }
    @@media (max-width: 991px) {
      .column-14 {
        width: 100%;
      }
    }
    .div-35 {
      display: flex;
      margin-top: 14px;
      flex-direction: column;
    }
    @@media (max-width: 991px) {
      .div-35 {
        margin-top: 40px;
      }
    }
    .img-11 {
      aspect-ratio: 0.99;
      object-fit: auto;
      object-position: center;
      width: 207px;
      max-width: 100%;
    }
    .div-36 {
      color: #dfe8f3;
      margin-top: 6px;
      font: 700 40px Inria Sans, sans-serif;
    }
    .div-37 {
      color: #bdcce0;
      margin-top: 49px;
      font: 200 32px Inria Sans, sans-serif;
    }
    @@media (max-width: 991px) {
      .div-37 {
        margin-top: 40px;
      }
    }
    .column-15 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 25%;
      margin-left: 20px;
    }
    @@media (max-width: 991px) {
      .column-15 {
        width: 90%;
      }
    }
    .div-38 {
      disply: flex;
      flex-direction: column;
      fill: #5d6c89;
      overflow: hidden;
      position: relative;
      display: flex;
      aspect-ratio: 0.46;
      align-self: stretch;
      align-items: start;
      margin: auto 0;
      padding: 10px 16px 50px;
    }
    @@media (max-width: 991px) {
      .div-38 {
        margin-top: 40px;
      }
    }
    .img-12 {
      position: absolute;
      inset: 0;
      height: 100%;
      width: 70%;
      object-fit: cover;
      object-position: center;
    }
    .img-13 {
      aspect-ratio: 1;
      object-fit: auto;
      object-position: center;
      width: 180px;
      max-width: 100%;
    }
    .div-39 {
      position: relative;
      color: #dfe8f3;
      align-self: stretch;
      margin-top: 32px;
      font: 700 40px Inria Sans, sans-serif;
    }
    .div-40 {
      position: relative;
      color: #bdcce0;
      margin: 43px 0 0 0px;
      font: 400 32px Inria Sans, sans-serif;
    }
    @@media (max-width: 991px) {
      .div-40 {
        margin: 40px 0 0 10px;
      }
    }
    .div-41 {
      display: flex;
      margin-top: 88px;
      width: 91%;
      flex-direction: column;
      padding: 0 69px;
    }
    @@media (max-width: 991px) {
      .div-41 {
        max-width: 100%;
        margin-top: 40px;
        padding: 0 20px;
      }
    }
    .div-42 {
      color: #343c51;
      font: 400 80px Old Standard TT, sans-serif;
    }
    @@media (max-width: 991px) {
      .div-42 {
        max-width: 100%;
        font-size: 40px;
      }
    }
    .div-43 {
      margin-top: 73px;
    }
    @@media (max-width: 991px) {
      .div-43 {
        max-width: 100%;
        margin-top: 40px;
      }
    }
    .div-44 {
      gap: 20px;
      display: flex;
    }
    @@media (max-width: 991px) {
      .div-44 {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
      }
    }
    .div-45 {
      border-radius: 10px;
      background-color: #7ebfdc;
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      font-weight: 700;
      width: 100%;
      padding: 2px 0 26px;
    }
    @@media (max-width: 991px) {
      .div-45 {
        max-width: 100%;
        margin-top: 12px;
      }
    }
    .img-14 {
      aspect-ratio: 1.3;
      object-fit: auto;
      object-position: center;
      width: 100%;
    }
    @@media (max-width: 991px) {
      .img-14 {
        max-width: 100%;
      }
    }
    .div-46 {
      display: flex;
      margin-top: 20px;
      flex-direction: column;
      padding: 0 33px;
    }
    @@media (max-width: 991px) {
      .div-46 {
        max-width: 100%;
        padding: 0 20px;
      }
    }
    .div-47 {
      display: flex;
      padding-right: 21px;
      justify-content: space-between;
      gap: 20px;
      font-size: 35px;
      color: #000;
      white-space: nowrap;
    }
    @@media (max-width: 991px) {
      .div-47 {
        padding-right: 20px;
        white-space: initial;
      }
    }
    .div-48 {
      font-family: Inria Sans, sans-serif;
      flex-grow: 1;
      flex-basis: auto;
    }
    .img-15 {
      aspect-ratio: 0.74;
      object-fit: auto;
      object-position: center;
      width: 20px;
      align-self: start;
    }
    .div-49 {
      color: rgba(0, 0, 0, 0.7);
      margin-top: 11px;
      font: 37px Inria Sans, sans-serif;
    }
    .column-16 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 33%;
      margin-left: 20px;
    }
    @@media (max-width: 991px) {
      .column-16 {
        width: 100%;
      }
    }
    .div-50 {
      border-radius: 10px;
      background-color: #f7bfbe;
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      font-weight: 700;
      width: 100%;
      padding: 2px 0 23px;
    }
    @@media (max-width: 991px) {
      .div-50 {
        max-width: 100%;
        margin-top: 12px;
      }
    }
    .img-16 {
      aspect-ratio: 1.3;
      object-fit: auto;
      object-position: center;
      width: 100%;
    }
    @@media (max-width: 991px) {
      .img-16 {
        max-width: 100%;
      }
    }
    .div-51 {
      display: flex;
      margin-top: 23px;
      flex-direction: column;
      padding: 0 33px;
    }
    @@media (max-width: 991px) {
      .div-51 {
        max-width: 100%;
        padding: 0 20px;
      }
    }
    .div-52 {
      color: #000;
      align-self: start;
      margin-left: 26px;
      font: 35px Inria Sans, sans-serif;
    }
    @@media (max-width: 991px) {
      .div-52 {
        margin-left: 10px;
      }
    }
    .div-53 {
      color: rgba(0, 0, 0, 0.7);
      margin-top: 14px;
      font: 37px Inria Sans, sans-serif;
    }
    .column-17 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 33%;
      margin-left: 20px;
    }
    @@media (max-width: 991px) {
      .column-17 {
        width: 100%;
      }
    }
    .div-54 {
      border-radius: 10px;
      background-color: #35b8af;
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      font-weight: 700;
      width: 100%;
      padding: 3px 0 18px;
    }
    @@media (max-width: 991px) {
      .div-54 {
        max-width: 100%;
        margin-top: 12px;
      }
    }
    .img-17 {
      aspect-ratio: 1.3;
      object-fit: auto;
      object-position: center;
      width: 100%;
    }
    @@media (max-width: 991px) {
      .img-17 {
        max-width: 100%;
      }
    }
    .div-55 {
      display: flex;
      margin-top: 23px;
      flex-direction: column;
      padding: 0 28px;
    }
    @@media (max-width: 991px) {
      .div-55 {
        max-width: 100%;
        padding: 0 20px;
      }
    }
    .div-56 {
      color: #000;
      align-self: start;
      margin-left: 34px;
      font: 35px Inria Sans, sans-serif;
    }
    @@media (max-width: 991px) {
      .div-56 {
        margin-left: 10px;
      }
    }
    .div-57 {
      color: rgba(0, 0, 0, 0.7);
      margin-top: 16px;
      font: 37px Inria Sans, sans-serif;
    }
    .div-58 {
      background-color: #dfe8f3;
      display: flex;
      margin-top: 10px;
      width: 100%;
      flex-direction: column;
      justify-content: center;
    }
    @@media (max-width: 991px) {
      .div-58 {
        max-width: 100%;
      }
    }
    .div-59 {
      background-color: #dfe8f3;
      display: flex;
      width: 89%;
      flex-direction: column;
      padding: 50px 80px;
    }
    @@media (max-width: 991px) {
      .div-59 {
        max-width: 100%;
        padding: 0 20px;
      }
    }
    .div-60 {
      background-color: #6d84a2;
      width: 1320px;
      max-width: 100%;
      height: 2px;
      margin: 50px 16px 0;
    }
    @@media (max-width: 991px) {
      .div-60 {
        margin: 40px 10px 0 0;
      }
    }
    .div-61 {
      align-self: center;
      margin-top: 35px;
      width: 100%;
      max-width: 1161px;
    }
    @@media (max-width: 991px) {
      .div-61 {
        max-width: 100%;
      }
    }
    .div-62 {
      gap: 20px;
      display: flex;
    }
    @@media (max-width: 991px) {
      .div-62 {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
      }
    }
    .column-18 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 25%;
      margin-left: 0px;
    }
    @@media (max-width: 991px) {
      .column-18 {
        width: 100%;
      }
    }
    .img-18 {
      aspect-ratio: 1.03;
      object-fit: auto;
      object-position: center;
      width: 240px;
      max-width: 100%;
      flex-grow: 1;
    }
    @@media (max-width: 991px) {
      .img-18 {
        margin-top: 40px;
      }
    }
    .column-19 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 75%;
      margin-left: 20px;
    }
    @@media (max-width: 991px) {
      .column-19 {
        width: 100%;
      }
    }
    .div-63 {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      font-size: 20px;
      color: var(--Dark, #0a142f);
      font-weight: 400;
    }
    @@media (max-width: 991px) {
      .div-63 {
        max-width: 100%;
        margin-top: 40px;
      }
    }
    .div-64 {
      align-self: start;
      display: flex;
      gap: 4px;
    }
    .img-19 {
      aspect-ratio: 1;
      object-fit: auto;
      object-position: center;
      width: 45px;
    }
    .div-65 {
      font-family: Inria Sans, sans-serif;
      flex-grow: 1;
      flex-basis: auto;
      margin: auto 0;
    }
    .div-66 {
      display: flex;
      margin-top: 27px;
      width: 100%;
      padding-right: 80px;
      justify-content: space-between;
      gap: 20px;
      white-space: nowrap;
    }
    @@media (max-width: 991px) {
      .div-66 {
        max-width: 100%;
        flex-wrap: wrap;
        padding-right: 20px;
        white-space: initial;
      }
    }
    .div-67 {
      display: flex;
      justify-content: space-between;
      gap: 15px;
    }
    @@media (max-width: 991px) {
      .div-67 {
        white-space: initial;
      }
    }
    .img-20 {
      aspect-ratio: 1;
      object-fit: auto;
      object-position: center;
      width: 45px;
    }
    .div-68 {
      font-family: Inria Sans, sans-serif;
      flex-grow: 1;
      margin: auto 0;
    }
    @@media (max-width: 991px) {
      .div-68 {
        white-space: initial;
      }
    }
    .div-69 {
      display: flex;
      justify-content: space-between;
      gap: 13px;
    }
    @@media (max-width: 991px) {
      .div-69 {
        white-space: initial;
      }
    }
    .img-21 {
      aspect-ratio: 1;
      object-fit: auto;
      object-position: center;
      width: 45px;
    }
    .div-70 {
      font-family: Inria Sans, sans-serif;
      flex-grow: 1;
      margin: auto 0;
    }
    @@media (max-width: 991px) {
      .div-70 {
        white-space: initial;
      }
    }
    .div-71 {
      display: flex;
      margin-top: 67px;
      justify-content: space-between;
      gap: 20px;
      font-size: 16px;
      padding: 0 2px;
    }
    @@media (max-width: 991px) {
      .div-71 {
        max-width: 100%;
        flex-wrap: wrap;
        margin-top: 40px;
      }
    }
    .div-72 {
      font-family: Inria Sans, sans-serif;
      align-self: end;
      margin-top: 27px;
    }
    .img-22 {
      aspect-ratio: 12.5;
      object-fit: auto;
      object-position: center;
      width: 626px;
    }
    @@media (max-width: 991px) {
      .img-22 {
        max-width: 100%;
      }
    }
    .div-73 {
      background-color: #7bb9fc;
      align-self: center;
      margin-top: 26px;
      width: 1128px;
      max-width: 100%;
      height: 1px;
    }
    .div-74 {
      display: flex;
      width: 212px;
      max-width: 100%;
      justify-content: space-between;
      gap: 20px;
      font-size: 14px;
      color: var(--Dark, #0a142f);
      font-weight: 400;
      text-transform: uppercase;
      margin: 28px 0 33px 112px;
    }
    @@media (max-width: 991px) {
      .div-74 {
        margin-left: 10px;
      }
    }
    .div-75 {
      font-family: Inria Sans, sans-serif;
    }
    .div-76 {
      font-family: Inria Sans, sans-serif;
    }
  </style>