@model project.Models.login1

@{
    ViewData["Title"] = "login";
}

<div class="div-7">
    <div class="div-8">
        <div class="column">
            <img loading="lazy"
                 srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/ce5a0a325c33cdd958970333bf1fa525c6fa7f6096f4a2a28693f79ed71bb76e?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/ce5a0a325c33cdd958970333bf1fa525c6fa7f6096f4a2a28693f79ed71bb76e?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/ce5a0a325c33cdd958970333bf1fa525c6fa7f6096f4a2a28693f79ed71bb76e?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/ce5a0a325c33cdd958970333bf1fa525c6fa7f6096f4a2a28693f79ed71bb76e?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/ce5a0a325c33cdd958970333bf1fa525c6fa7f6096f4a2a28693f79ed71bb76e?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/ce5a0a325c33cdd958970333bf1fa525c6fa7f6096f4a2a28693f79ed71bb76e?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/ce5a0a325c33cdd958970333bf1fa525c6fa7f6096f4a2a28693f79ed71bb76e?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/ce5a0a325c33cdd958970333bf1fa525c6fa7f6096f4a2a28693f79ed71bb76e?apiKey=6be4bae03eb840ae9f1fe19d6134013d&"
                 class="img-2" />
        </div>
        <div class="column-2">
            <div class="div-9">
                <br />
                <br />
                <div class="div-10">Login</div><br />
                <br /><br />
                <form method="post" asp-controller="signupController1" asp-action="login">
                <div style="position: relative;">
                    <input name="Uname" type="text" placeholder="Username" style="padding-left: 40px; font-family: Judson;font-size:15px; border-radius: 15px; border-color: #dfe8f3; background-color: #dfe8f3; height: 60px; width: 400px;" required/>
                    <i class="fas fa-user fa-2x" style="position: absolute; left: 10px; top: 18px;"></i>
                </div>
                <br />
                <div style="position: relative;">
                    <input name="Passwrd" type="password" placeholder="Password" style="padding-left: 40px; font-family: Judson;font-size:15px; border-radius: 15px; border-color: #dfe8f3; background-color: #dfe8f3; height: 60px; width: 400px;"required />
                    <i class="fas fa-lock fa-2x" style="position: absolute; left: 10px; top: 18px;"></i>
                </div>
                <br />
                <br />
                <div align="center">
                    <button type="submit" style="background-color: #5D6C89;border-radius: 12px;height:60px; width:100px;color:#dfe8f3;border: none; ">Login</button>
                </div>
                </form>
                <br />
                <div align="center">---------------------------login with Others--------------------------</div>
                <div class="div-17">
                    <div class="div-18">
                        <img loading="lazy"
                             srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/bed5712d281f7e228317a48dc26f2bb22e42e03afe92040d952762f9dbfb6293?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/bed5712d281f7e228317a48dc26f2bb22e42e03afe92040d952762f9dbfb6293?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/bed5712d281f7e228317a48dc26f2bb22e42e03afe92040d952762f9dbfb6293?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/bed5712d281f7e228317a48dc26f2bb22e42e03afe92040d952762f9dbfb6293?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/bed5712d281f7e228317a48dc26f2bb22e42e03afe92040d952762f9dbfb6293?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/bed5712d281f7e228317a48dc26f2bb22e42e03afe92040d952762f9dbfb6293?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/bed5712d281f7e228317a48dc26f2bb22e42e03afe92040d952762f9dbfb6293?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/bed5712d281f7e228317a48dc26f2bb22e42e03afe92040d952762f9dbfb6293?apiKey=6be4bae03eb840ae9f1fe19d6134013d&"
                             class="img-5" />
                        <div class="div-19">
                            <button type="button" style="background-color: #BDCCE0;border: none;">Login with google</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    body {
        background-color: #bdcce0;
        overflow: auto;
    }



    .div-7 {
        align-self: center;
        margin-top: 57px;
        width: 100%;
        max-width: 1297px;
        background-color: #bdcce0;
    }

    @@media (max-width: 991px) {
        .div-7 {
            max-width: 100%;
            margin-top: 40px;
        }
    }

    .div-8 {
        gap: 20px;
        display: flex;
    }

    @@media (max-width: 991px) {
        .div-8 {
            flex-direction: column;
            align-items: stretch;
            gap: 0px;
        }
    }

    .column {
        display: flex;
        flex-direction: column;
        line-height: normal;
        width: 70%;
        margin-left: 0px;
    }

    @@media (max-width: 991px) {
        .column {
            width: 100%;
        }
    }

    .img-2 {
        aspect-ratio: 1.11;
        object-fit: auto;
        object-position: center;
        width: 100%;
        flex-grow: 1;
    }

    @@media (max-width: 991px) {
        .img-2 {
            max-width: 100%;
            margin-top: 40px;
        }
    }

    .column-2 {
        display: flex;
        flex-direction: column;
        line-height: normal;
        width: 35%;
        height: 40%;
        margin-left: 20px;
    }

    @@media (max-width: 991px) {
        .column-2 {
            width: 100%;
        }
    }

    .div-9 {
        display: flex;
        flex-direction: column;
        align-self: stretch;
        font-size: 12px;
        color: #1c1c1c;
        font-weight: 400;
        white-space: nowrap;
        margin: auto 0;
        padding: 0 20px;
    }

    @@media (max-width: 991px) {
        .div-9 {
            margin-top: 40px;
            white-space: initial;
        }
    }

    .div-10 {
        color: #000;
        leading-trim: both;
        text-edge: cap;
        text-transform: uppercase;
        align-self: center;
        font: 700 30px Poppins, sans-serif;
    }

    .div-11 {
        border-radius: 16px;
        background-color: #dfe8f3;
        display: flex;
        margin-top: 80px;
        justify-content: space-between;
        gap: 7px;
        padding: 18px 20px;
    }

    @@media (max-width: 991px) {
        .div-11 {
            margin-top: 40px;
            white-space: initial;
        }
    }

    .img-3 {
        aspect-ratio: 0.84;
        object-fit: auto;
        object-position: center;
        width: 26px;
    }

    .div-12 {
        font-family: Poppins, sans-serif;
        flex-grow: 1;
        flex-basis: auto;
        margin: auto 0;
    }

    .div-13 {
        border-radius: 16px;
        background-color: #dfe8f3;
        display: flex;
        margin-top: 23px;
        justify-content: space-between;
        gap: 7px;
        padding: 18px 20px;
    }

    @@media (max-width: 991px) {
        .div-13 {
            white-space: initial;
        }
    }

    .img-4 {
        aspect-ratio: 0.87;
        object-fit: auto;
        object-position: center;
        width: 26px;
    }

    .div-14 {
        font-family: Poppins, sans-serif;
        flex-grow: 1;
        flex-basis: auto;
        margin: auto 0;
    }

    .div-15 {
        font-family: Poppins, sans-serif;
        border-radius: 16px;
        background: linear-gradient(182deg, #5d6c89 108.03%, #5038ed 108.58%);
        box-shadow: 0px 8px 21px 0px rgba(0, 0, 0, 0.16);
        align-self: center;
        margin-top: 31px;
        justify-content: center;
        color: #fff;
        font-weight: 700;
        padding: 27px 37px;
    }

    @@media (max-width: 991px) {
        .div-15 {
            white-space: initial;
            padding: 0 20px;
        }
    }

    .div-16 {
        color: #525252;
        align-self: center;
        margin-top: 36px;
        font: 16px Poppins, sans-serif;
    }

    @@media (max-width: 991px) {
        .div-16 {
            white-space: initial;
        }
    }

    .div-17 {
        border-radius: 16px;
        border: 1px solid #525252;
        display: flex;
        margin-top: 39px;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 15px 60px;
    }

    @@media (max-width: 991px) {
        .div-17 {
            white-space: initial;
            padding: 0 20px;
        }
    }

    .div-18 {
        display: flex;
        gap: 9px;
    }

    @@media (max-width: 991px) {
        .div-18 {
            white-space: initial;
        }
    }

    .img-5 {
        aspect-ratio: 0.87;
        object-fit: auto;
        object-position: center;
        width: 33px;
    }

    .div-19 {
        font-family: Poppins, sans-serif;
        flex-grow: 1;
        margin: auto 0;
    }

    @@media (max-width: 991px) {
        .div-19 {
            white-space: initial;
        }
    }
</style>