<div class="div-7">
    <div class="div-8">
        <div class="column">
            <div class="div-9">
                <div class="div-10">
                    Refer a house owner to earn ₹ 1000* for every house listing we
                    publish
                </div>
                <div class="div-11">
                    The more you refer, the more you earn.Reward will be sent to you via
                    these UPI apps
                </div>
                <img loading="lazy"
                     srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/1ca0f8284c8e644d43be5cbcadccc51bd368c52eb5281841920ee6ddf26f4eaa?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/1ca0f8284c8e644d43be5cbcadccc51bd368c52eb5281841920ee6ddf26f4eaa?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/1ca0f8284c8e644d43be5cbcadccc51bd368c52eb5281841920ee6ddf26f4eaa?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/1ca0f8284c8e644d43be5cbcadccc51bd368c52eb5281841920ee6ddf26f4eaa?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/1ca0f8284c8e644d43be5cbcadccc51bd368c52eb5281841920ee6ddf26f4eaa?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/1ca0f8284c8e644d43be5cbcadccc51bd368c52eb5281841920ee6ddf26f4eaa?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/1ca0f8284c8e644d43be5cbcadccc51bd368c52eb5281841920ee6ddf26f4eaa?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/1ca0f8284c8e644d43be5cbcadccc51bd368c52eb5281841920ee6ddf26f4eaa?apiKey=6be4bae03eb840ae9f1fe19d6134013d&"
                     class="img-2" />
                <div class="div-12">
                    Applicable only in Bengaluru, Chennai, Hyderabad, Mumbai, Pune and
                    NCR
                </div>
                <img loading="lazy"
                     srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/864790a87a9c42936adaad7b5039aa29c7c3c5176283e70bc13fc32abc9e13d0?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/864790a87a9c42936adaad7b5039aa29c7c3c5176283e70bc13fc32abc9e13d0?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/864790a87a9c42936adaad7b5039aa29c7c3c5176283e70bc13fc32abc9e13d0?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/864790a87a9c42936adaad7b5039aa29c7c3c5176283e70bc13fc32abc9e13d0?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/864790a87a9c42936adaad7b5039aa29c7c3c5176283e70bc13fc32abc9e13d0?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/864790a87a9c42936adaad7b5039aa29c7c3c5176283e70bc13fc32abc9e13d0?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/864790a87a9c42936adaad7b5039aa29c7c3c5176283e70bc13fc32abc9e13d0?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/864790a87a9c42936adaad7b5039aa29c7c3c5176283e70bc13fc32abc9e13d0?apiKey=6be4bae03eb840ae9f1fe19d6134013d&"
                     class="img-3" />
            </div>
        </div>
        <div class="column-2">
            <div class="div-13">
                <div class="div-14">
                    <img loading="lazy"
                         srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/617cf459a844f1f67c16b25e4fbf5b280c6a753013353434edd65c89cffdfe67?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/617cf459a844f1f67c16b25e4fbf5b280c6a753013353434edd65c89cffdfe67?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/617cf459a844f1f67c16b25e4fbf5b280c6a753013353434edd65c89cffdfe67?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/617cf459a844f1f67c16b25e4fbf5b280c6a753013353434edd65c89cffdfe67?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/617cf459a844f1f67c16b25e4fbf5b280c6a753013353434edd65c89cffdfe67?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/617cf459a844f1f67c16b25e4fbf5b280c6a753013353434edd65c89cffdfe67?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/617cf459a844f1f67c16b25e4fbf5b280c6a753013353434edd65c89cffdfe67?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/617cf459a844f1f67c16b25e4fbf5b280c6a753013353434edd65c89cffdfe67?apiKey=6be4bae03eb840ae9f1fe19d6134013d&"
                         class="img-4" />
                    <div class="div-15">
                        <span style="font-weight: 600; font-size: 26px">
                            House owner details
                        </span>
                        <br />
                        <span style="font-weight: 600; color: rgba(179, 190, 207, 1)">
                            The owner will be contacted on these details
                        </span>
                    </div>
                </div>
                <div class="div-16">INDIA</div>
                <div class="div-17">
                    <input type="text" id="sowner" name="owner" placeholder="Owner Mobile Number" required />




                </div>
                <div class="div-21">
                    <input type="text" id="sowname" name="owname" placeholder="Owner Name" required />
                </div>

                <div class="div-23">
                    <input type="text" id="slocal" name="local" placeholder="House Locality And City" required />
                </div>
                <div class="div-24">+Add one more owner</div>
                <div class="div-25">
                    <img loading="lazy"
                         srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/617cf459a844f1f67c16b25e4fbf5b280c6a753013353434edd65c89cffdfe67?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/617cf459a844f1f67c16b25e4fbf5b280c6a753013353434edd65c89cffdfe67?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/617cf459a844f1f67c16b25e4fbf5b280c6a753013353434edd65c89cffdfe67?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/617cf459a844f1f67c16b25e4fbf5b280c6a753013353434edd65c89cffdfe67?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/617cf459a844f1f67c16b25e4fbf5b280c6a753013353434edd65c89cffdfe67?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/617cf459a844f1f67c16b25e4fbf5b280c6a753013353434edd65c89cffdfe67?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/617cf459a844f1f67c16b25e4fbf5b280c6a753013353434edd65c89cffdfe67?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/617cf459a844f1f67c16b25e4fbf5b280c6a753013353434edd65c89cffdfe67?apiKey=6be4bae03eb840ae9f1fe19d6134013d&"
                         class="img-6" />
                    <div class="div-26">
                        <span style="font-size: 26px">Your details</span>
                        <br />
                        <span style="color: rgba(179, 190, 207, 1)">
                            You will be contacted to verify UPI information
                        </span>
                    </div>
                </div>
                <div class="div-27">
                    <input type="text" id="syour" name="your" placeholder="Your Mobile Number" required />

                    <input type="text" id="sname" name="name" placeholder="Your Name" required />

                    <div class="div-32">
                        <div class="div-34">
                            <input type="checkbox"> agree to be contacted by rentify as per rentify privacy policy
                        </div>
                    </div>
                    <div class="div-35">
                        <button type="button" style="        border-radius: 10px;
                width: 97%;
                background-color: #f3f1ff;
                justify-content: center;
                align-items: start;
                color: rgba(0, 0, 0, 0.5);
                white-space: nowrap;
                margin: 29px 17px 0 0;
                padding: 27px 34px;
                font: 20px Poppins, sans-serif;">
                            Submit
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .div {
        background-color: #dfe8f3;
        display: flex;
        padding-bottom: 41px;
        flex-direction: column;
    }

    .div-2 {
        background-color: #dfe8f3;
        display: flex;
        width: 100%;
        justify-content: space-between;
        gap: 20px;
        font-size: 32px;
        color: #000;
        font-weight: 400;
        padding: 35px 52px 8px;
    }

    @@media (max-width: 991px) {
        .div-2 {
            max-width: 100%;
            flex-wrap: wrap;
            padding: 0 20px;
        }
    }

    .img {
        aspect-ratio: 1;
        object-fit: auto;
        object-position: center;
        width: 81px;
        border-radius: 50%;
    }

    .div-3 {
        align-self: start;
        display: flex;
        margin-top: 19px;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }

    @@media (max-width: 991px) {
        .div-3 {
            max-width: 100%;
            flex-wrap: wrap;
        }
    }

    .div-4 {
        font-family: Inria Sans, sans-serif;
        border-radius: 10px;
        background-color: #bdcce0;
        align-self: stretch;
        flex-grow: 1;
        justify-content: center;
        white-space: nowrap;
        padding: 14px 18px;
    }

    @@media (max-width: 991px) {
        .div-4 {
            white-space: initial;
            padding-right: 20px;
        }
    }

    .div-5 {
        color: #101112;
        font-family: Inria Sans, sans-serif;
        align-self: stretch;
        flex-grow: 1;
        flex-basis: auto;
        margin: auto 0;
    }

    .div-6 {
        font-family: Inria Sans, sans-serif;
        align-self: stretch;
        margin: auto 0;
    }

    .div-7 {
        align-self: center;
        margin-top: 76px;
        width: 100%;
        max-width: 1282px;
    }

    @@media (max-width: 991px) {
        .div-7 {
            max-width: 100%;
            margin-top: 40px;
        }
    }

    .div-8 {
        gap: 20px;
        display: flex;
    }

    @@media (max-width: 991px) {
        .div-8 {
            flex-direction: column;
            align-items: stretch;
            gap: 0px;
        }
    }

    .column {
        display: flex;
        flex-direction: column;
        line-height: normal;
        width: 45%;
        margin-left: 0px;
    }

    @@media (max-width: 991px) {
        .column {
            width: 100%;
        }
    }

    .div-9 {
        display: flex;
        flex-direction: column;
        align-self: stretch;
        color: rgba(0, 0, 0, 0.4);
        font-weight: 600;
        text-transform: uppercase;
        margin: auto 0;
        padding: 0 20px;
    }

    @@media (max-width: 991px) {
        .div-9 {
            max-width: 100%;
            margin-top: 40px;
        }
    }

    .div-10 {
        color: #000;
        leading-trim: both;
        text-edge: cap;
        font: 32px Poppins, sans-serif;
    }

    @@media (max-width: 991px) {
        .div-10 {
            max-width: 100%;
        }
    }

    .div-11 {
        leading-trim: both;
        text-edge: cap;
        margin-top: 104px;
        font: 22px Poppins, sans-serif;
    }

    @@media (max-width: 991px) {
        .div-11 {
            max-width: 100%;
            margin-top: 40px;
        }
    }

    .img-2 {
        aspect-ratio: 11.11;
        object-fit: auto;
        object-position: center;
        width: 477px;
        margin-top: 14px;
        max-width: 100%;
    }

    .div-12 {
        leading-trim: both;
        text-edge: cap;
        margin-top: 104px;
        font: 24px Poppins, sans-serif;
    }

    @@media (max-width: 991px) {
        .div-12 {
            max-width: 100%;
            margin-top: 40px;
        }
    }

    .img-3 {
        aspect-ratio: 1.05;
        object-fit: auto;
        object-position: center;
        width: 257px;
        align-self: center;
        margin-top: 65px;
        max-width: 100%;
    }

    @@media (max-width: 991px) {
        .img-3 {
            margin-top: 40px;
        }
    }

    .column-2 {
        display: flex;
        flex-direction: column;
        line-height: normal;
        width: 55%;
        margin-left: 20px;
    }

    @@media (max-width: 991px) {
        .column-2 {
            width: 100%;
        }
    }

    .div-13 {
        border-radius: 10px;
        background-color: #6d84a2;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        font-weight: 400;
        text-transform: uppercase;
        width: 100%;
        padding: 44px 45px;
    }

    @@media (max-width: 991px) {
        .div-13 {
            max-width: 100%;
            margin-top: 29px;
            padding: 0 20px;
        }
    }

    .div-14 {
        display: flex;
        margin-top: 4px;
        justify-content: space-between;
        gap: 19px;
        font-size: 20px;
        color: #b3becf;
        font-weight: 700;
    }

    @@media (max-width: 991px) {
        .div-14 {
            max-width: 100%;
            flex-wrap: wrap;
        }
    }

    .img-4 {
        aspect-ratio: 0.98;
        object-fit: auto;
        object-position: center;
        width: 57px;
    }

    .div-15 {
        leading-trim: both;
        text-edge: cap;
        font-family: Poppins, sans-serif;
        flex-grow: 1;
        flex-basis: auto;
        margin: auto 0;
    }

    @@media (max-width: 991px) {
        .div-15 {
            max-width: 100%;
        }
    }

    .div-16 {
        color: #000;
        leading-trim: both;
        text-edge: cap;
        margin-top: 38px;
        font: 26px Poppins, sans-serif;
    }

    @@media (max-width: 991px) {
        .div-16 {
            max-width: 100%;
        }
    }

    input#sowner {
        border-radius: 10px;
        width: 97%;
        background-color: #f3f1ff;
        justify-content: center;
        align-items: start;
        color: rgba(0, 0, 0, 0.5);
        white-space: nowrap;
        margin: 29px 17px 0 0;
        padding: 27px 34px;
        font: 20px Poppins, sans-serif;
    }

    @@media (max-width: 991px) {
        .div-17 {
            max-width: 100%;
            margin-right: 10px;
            flex-wrap: wrap;
        }
    }

    .div-18 {
        color: #000;
        leading-trim: both;
        text-edge: cap;
        align-self: stretch;
        margin: auto 0;
        font: 26px Poppins, sans-serif;
    }

    .div-19 {
        background-color: rgba(0, 0, 0, 0.4);
        align-self: stretch;
        width: 1px;
        height: 68px;
    }

    .div-20 {
        color: rgba(0, 0, 0, 0.5);
        leading-trim: both;
        text-edge: cap;
        align-self: stretch;
        flex-grow: 1;
        flex-basis: auto;
        margin: auto 0;
        font: 20px Poppins, sans-serif;
    }

    @@media (max-width: 991px) {
        .div-20 {
            max-width: 100%;
        }
    }

    input#sowname {
        border-radius: 10px;
        width: 97%;
        background-color: #f3f1ff;
        justify-content: center;
        align-items: start;
        color: rgba(0, 0, 0, 0.5);
        white-space: nowrap;
        margin: 29px 17px 0 0;
        padding: 27px 34px;
        font: 20px Poppins, sans-serif;
    }

    @@media (max-width: 991px) {
        .div-21 {
            white-space: initial;
            max-width: 100%;
            margin-right: 10px;
            padding: 0 20px;
        }
    }

    .div-22 {
        border-radius: 10px;
        background-color: #f3f1ff;
        display: flex;
        justify-content: space-between;
        gap: 6px;
        font-size: 20px;
        color: rgba(0, 0, 0, 0.5);
        margin: 29px 18px 0 0;
        padding: 14px 13px;
    }

    @@media (max-width: 991px) {
        .div-22 {
            max-width: 100%;
            margin-right: 10px;
            flex-wrap: wrap;
        }
    }

    .img-5 {
        aspect-ratio: 1;
        object-fit: auto;
        object-position: center;
        width: 40px;
    }

    input#slocal {
        border-radius: 10px;
        width: 97%;
        background-color: #f3f1ff;
        justify-content: center;
        align-items: start;
        color: rgba(0, 0, 0, 0.5);
        white-space: nowrap;
        margin: 29px 17px 0 0;
        padding: 27px 34px;
        font: 20px Poppins, sans-serif;
    }

    @@media (max-width: 991px) {
        .div-23 {
            max-width: 100%;
        }
    }

    .div-24 {
        color: #000;
        leading-trim: both;
        text-edge: cap;
        margin-top: 43px;
        font: 20px Poppins, sans-serif;
    }

    @@media (max-width: 991px) {
        .div-24 {
            max-width: 100%;
            margin-top: 40px;
        }
    }

    .div-25 {
        display: flex;
        margin-top: 75px;
        justify-content: space-between;
        gap: 18px;
        font-size: 20px;
        color: #b3becf;
    }

    @@media (max-width: 991px) {
        .div-25 {
            max-width: 100%;
            flex-wrap: wrap;
            margin: 40px 9px 0 0;
        }
    }

    .img-6 {
        aspect-ratio: 0.98;
        object-fit: auto;
        object-position: center;
        width: 57px;
    }

    .div-26 {
        leading-trim: both;
        text-edge: cap;
        font-family: Poppins, sans-serif;
        flex-grow: 1;
        flex-basis: auto;
        margin: auto 0;
    }

    @@media (max-width: 991px) {
        .div-26 {
            max-width: 100%;
        }
    }

    input#syour {
        border-radius: 10px;
        width: 97%;
        background-color: #f3f1ff;
        justify-content: center;
        align-items: start;
        color: rgba(0, 0, 0, 0.5);
        white-space: nowrap;
        margin: 29px 17px 0 0;
        padding: 27px 34px;
        font: 20px Poppins, sans-serif;
    }

    @@media (max-width: 991px) {
        .div-27 {
            max-width: 100%;
            flex-wrap: wrap;
        }
    }

    @@media (max-width: 991px) {
        .div-30 {
            max-width: 100%;
        }
    }

    input#Sname {
        border-radius: 10px;
        width: 97%;
        background-color: #f3f1ff;
        justify-content: center;
        align-items: start;
        color: rgba(0, 0, 0, 0.5);
        white-space: nowrap;
        margin: 29px 17px 0 0;
        padding: 27px 34px;
        font: 20px Poppins, sans-serif;
    }

    @@media (max-width: 991px) {
        .div-31 {
            white-space: initial;
            max-width: 100%;
            padding: 0 20px;
        }
    }

    .div-32 {
        display: flex;
        margin-top: 43px;
        justify-content: space-between;
        gap: 20px;
        font-size: 20px;
        color: #b3becf;
    }

    @@media (max-width: 991px) {
        .div-32 {
            max-width: 100%;
            flex-wrap: wrap;
            margin-top: 40px;
        }
    }

    .div-34 {
        leading-trim: both;
        text-edge: cap;
        font-family: Poppins, sans-serif;
        flex-grow: 1;
        flex-basis: auto;
    }

    @@media (max-width: 991px) {
        .div-34 {
            max-width: 100%;
        }
    }
</style>