<div class="div-7">
    <div class="div-8">
        <img loading="lazy"
             srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/7ade54cd67afc3a624309ae55631842f4bf6a27b50f8c46871c0606af1a2cd6b?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/7ade54cd67afc3a624309ae55631842f4bf6a27b50f8c46871c0606af1a2cd6b?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/7ade54cd67afc3a624309ae55631842f4bf6a27b50f8c46871c0606af1a2cd6b?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/7ade54cd67afc3a624309ae55631842f4bf6a27b50f8c46871c0606af1a2cd6b?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/7ade54cd67afc3a624309ae55631842f4bf6a27b50f8c46871c0606af1a2cd6b?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/7ade54cd67afc3a624309ae55631842f4bf6a27b50f8c46871c0606af1a2cd6b?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/7ade54cd67afc3a624309ae55631842f4bf6a27b50f8c46871c0606af1a2cd6b?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/7ade54cd67afc3a624309ae55631842f4bf6a27b50f8c46871c0606af1a2cd6b?apiKey=6be4bae03eb840ae9f1fe19d6134013d&"
             class="img-2" />
        <div class="div-9">
            Refer and EARN
            <br />
        </div>
    </div>
    <div class="div-10">
        Refer your friends, family, colleagues or anyone who is looking to rent a
        place and earn
        <br />
        <br />
        ₹ 1000 for EVERY referral.
    </div>
</div>
<div class="div-11">
    <div class="div-12">
        <div class="div-13">Earn in 4 simple steps using the referral code</div>
        <div class="div-14">
            Insert Your Friends Phone Number and send them invitation to Stay with
            Nestaway and earn reward
        </div>
    </div>
    <div class="div-16">
        <div class="div-17">
            <div class="column">
                <div class="div-18">
                    <div class="div-19">1</div>
                    <div class="div-20">Refer to a Friend</div>
                    <div class="div-21">
                        You share your <br />referral code with your friends
                    </div>
                </div>
            </div>
            <div class="column-2">
                <div class="div-22">
                    <div class="div-23">2</div>
                    <div class="div-24">Friends Sign-up with your referral code</div>
                    <div class="div-25">
                        Your friend uses your referral
                        <br />
                        codes & books a house with us.
                    </div>
                </div>
            </div>
            <div class="column-3">
                <div class="div-26">
                    <div class="div-27">3</div>
                    <div class="div-28">Starts his/her stay with Rentify</div>
                    <div class="div-29">
                        Your friend completes 2 days
                        <br />
                        of stay with us.
                    </div>
                </div>
            </div>
            <div class="column-4">
                <div class="div-30">
                    <div class="div-31">4</div>
                    <div class="div-32">You earn reward</div>
                    <div class="div-33">You both earn Rs.1000 each!</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="div-34">
    <div class="div-35">
        Invite Your Friends
        <br />
        <br />
    </div>
    <div class="div-36">
        Add your friend's phone number & invite them to stay with Nestaway & earn
        rewards.
    </div>
    <div class="div-37">INDIA</div>
    <div class="div-38">

        <div class="div-40"></div>
        <div class="div-41">
            <input type="string" id="sowner" name="owner" placeholder="Owner Mobile Number" style="
            leading-trim: both;
  text-edge: cap;
  width: 100%;
  border-radius: 10px;
  background-color: #f3f1ff;
  margin-top: 32px;
  justify-content: center;
  align-items: start;
  color: rgba(0, 0, 0, 0.5);
  white-space: nowrap;
  text-transform: uppercase;
  padding: 23px 60px 23px 17px;
  font: 20px Poppins, sans-serif;" required />
        </div>
    </div>
    <div class="div-42">
        <input type="text" id="sname" name="name" placeholder="Insert your friend name (optional)" style="
                    leading-trim: both;
  text-edge: cap;
  width: 100%;
  border-radius: 10px;
  background-color: #f3f1ff;
  margin-top: 32px;
  justify-content: center;
  align-items: start;
  color: rgba(0, 0, 0, 0.5);
  white-space: nowrap;
  text-transform: uppercase;
  padding: 23px 60px 23px 17px;
  font: 20px Poppins, sans-serif;" required />
    </div>
    <div class="div-43">

        <div class="div-44">
            <input type="text" id="sname1" name="name1" placeholder="your friend’s needed locality or city (optional) " style="
      leading-trim: both;
text-edge: cap;
width: 100%;
border-radius: 10px;
background-color: #f3f1ff;
margin-top: 32px;
justify-content: center;
align-items: start;
color: rgba(0, 0, 0, 0.5);
white-space: nowrap;
text-transform: uppercase;
padding: 23px 60px 23px 17px;
font: 20px Poppins, sans-serif;" required />
        </div>
    </div>
    <div class="div-45">+ ADD More Tenant</div>
    <div class="div-46">your details</div>
    <div class="div-47">
        <input type="string" id="syour" name="your" placeholder="your mobile number*" style="
    leading-trim: both;
text-edge: cap;
width: 100%;
border-radius: 10px;
background-color: #f3f1ff;
margin-top: 32px;
justify-content: center;
align-items: start;
color: rgba(0, 0, 0, 0.5);
white-space: nowrap;
text-transform: uppercase;
padding: 23px 60px 23px 17px;
font: 20px Poppins, sans-serif;" required />
    </div>
    <div class="div-48">
        <input type="string" id="syourname" name="yourname" placeholder="your name*" style="
    leading-trim: both;
text-edge: cap;
width: 100%;
border-radius: 10px;
background-color: #f3f1ff;
margin-top: 32px;
justify-content: center;
align-items: start;
color: rgba(0, 0, 0, 0.5);
white-space: nowrap;
text-transform: uppercase;
padding: 23px 60px 23px 17px;
font: 20px Poppins, sans-serif;" required />
    </div>
    <div class="div-49">
        <button type="button" style="
        leading-trim: both;
  text-edge: cap;
  border-radius: 10px;
  background-color: #d9d9d9;
  align-self: end;
  margin-top: 32px;
  justify-content: center;
  color: #000;
  white-space: nowrap;
  text-transform: uppercase;
  padding: 23px 38px;
  font: 27px Poppins, sans-serif;">
            Submit
        </button>
    </div>
</div>
</div>
<style>
    .div {
        background-color: #bdcce0;
        display: flex;
        padding-bottom: 40px;
        flex-direction: column;
    }

    .div-2 {
        background-color: #bdcce0;
        display: flex;
        width: 100%;
        align-items: start;
        justify-content: space-between;
        gap: 20px;
        font-size: 32px;
        color: #000;
        font-weight: 400;
        padding: 34px 52px;
    }

    @@media (max-width: 991px) {
        .div-2 {
            max-width: 100%;
            flex-wrap: wrap;
            padding: 0 20px;
        }
    }

    .img {
        aspect-ratio: 1;
        object-fit: auto;
        object-position: center;
        width: 81px;
        border-radius: 50%;
    }

    .div-3 {
        display: flex;
        margin-top: 15px;
        align-items: end;
        justify-content: space-between;
        gap: 20px;
    }

    @@media (max-width: 991px) {
        .div-3 {
            max-width: 100%;
            flex-wrap: wrap;
        }
    }

    .div-4 {
        font-family: Inria Sans, sans-serif;
        border-radius: 10px;
        background-color: #dfe8f3;
        align-self: stretch;
        flex-grow: 1;
        justify-content: center;
        white-space: nowrap;
        padding: 20px 18px;
    }

    @@media (max-width: 991px) {
        .div-4 {
            white-space: initial;
            padding-right: 20px;
        }
    }

    .div-5 {
        color: #101112;
        font-family: Inria Sans, sans-serif;
        margin-top: 28px;
        flex-grow: 1;
        flex-basis: auto;
    }

    .div-6 {
        font-family: Inria Sans, sans-serif;
        margin-top: 28px;
    }

    .div-7 {
        align-self: center;
        display: flex;
        margin-top: 19px;
        width: 100%;
        max-width: 1101px;
        flex-direction: column;
        font-weight: 400;
        padding: 0 20px;
    }

    @@media (max-width: 991px) {
        .div-7 {
            max-width: 100%;
        }
    }

    .div-8 {
        border-radius: 10px;
        background-color: rgba(93, 108, 137, 1);
        display: flex;
        justify-content: space-between;
        gap: 15px;
        font-size: 64px;
        color: #dfe8f3;
        padding: 28px 33px;
    }

    @@media (max-width: 991px) {
        .div-8 {
            max-width: 100%;
            flex-wrap: wrap;
            font-size: 40px;
            padding: 0 20px;
        }
    }

    .img-2 {
        aspect-ratio: 1;
        object-fit: auto;
        object-position: center;
        width: 66px;
        fill: url(<path-to-image>), lightgray 50% / cover no-repeat;
    }

    .div-9 {
        font-family: Inter, sans-serif;
        align-self: start;
        margin-top: 12px;
        flex-grow: 1;
        flex-basis: auto;
    }

    @@media (max-width: 991px) {
        .div-9 {
            max-width: 100%;
            font-size: 40px;
        }
    }

    .div-10 {
        color: #000;
        margin-top: 51px;
        font: 36px Inter, sans-serif;
    }

    @@media (max-width: 991px) {
        .div-10 {
            max-width: 100%;
            margin-top: 40px;
        }
    }

    .div-11 {
        background-color: #5d6c89;
        display: flex;
        margin-top: 126px;
        width: 92.3%;
        flex-direction: column;
        padding: 47px 58px;
    }

    @@media (max-width: 991px) {
        .div-11 {
            max-width: 100%;
            margin-top: 40px;
            padding: 0 20px;
        }
    }

    .div-12 {
        align-self: center;
        display: flex;
        flex-direction: column;
        color: #fff;
        font-weight: 400;
    }

    @@media (max-width: 991px) {
        .div-12 {
            max-width: 100%;
        }
    }

    .div-13 {
        leading-trim: both;
        text-edge: cap;
        text-transform: uppercase;
        font: 40px Poppins, sans-serif;
    }

    @@media (max-width: 991px) {
        .div-13 {
            max-width: 100%;
        }
    }

    .div-14 {
        leading-trim: both;
        text-edge: cap;
        text-transform: uppercase;
        margin-top: 40px;
        font: 20px Poppins, sans-serif;
    }

    @@media (max-width: 991px) {
        .div-14 {
            max-width: 100%;
        }
    }

    .div-16 {
        margin-top: 4px;
    }

    @@media (max-width: 991px) {
        .div-16 {
            max-width: 100%;
        }
    }

    .div-17 {
        gap: 20px;
        display: flex;
    }

    @@media (max-width: 991px) {
        .div-17 {
            flex-direction: column;
            align-items: stretch;
            gap: 0px;
        }
    }

    .column {
        display: flex;
        flex-direction: column;
        line-height: normal;
        width: 25%;
        margin-left: 0px;
    }

    @@media (max-width: 991px) {
        .column {
            width: 100%;
        }
    }

    .div-18 {
        border-radius: 10px;
        background-color: #fff;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        font-size: 16px;
        color: #000;
        font-weight: 400;
        text-align: center;
        width: 80%;
        padding: 29px 22px 50px;
        margin-left: 50px;
    }

    @@media (max-width: 991px) {
        .div-18 {
            margin-top: 20px;
            margin-left: 30px;
            padding: 0 20px;
        }
    }

    .div-19 {
        stroke-width: 3px;
        background-color: #fff;
        border-radius: 50%;
        justify-content: center;
        white-space: nowrap;
        text-align: center;
        padding: 33px 40px;
        font: 600 15px Poppins, sans-serif;
    }

    @@media (max-width: 991px) {
        .div-19 {
            white-space: initial;
            padding: 0 20px;
        }
    }

    .div-20 {
        margin-top: 19px;
        white-space: nowrap;
        font: 24px Inter, sans-serif;
    }

    @@media (max-width: 991px) {
        .div-20 {
            white-space: initial;
        }
    }

    .div-21 {
        color: #98a5b6;
        text-align: center;
        align-self: stretch;
        margin-top: 36px;
        font: 16px Inter, sans-serif;
    }

    .column-2 {
        display: flex;
        flex-direction: column;
        line-height: normal;
        width: 25%;
        margin-left: 20px;
    }

    @@media (max-width: 991px) {
        .column-2 {
            width: 100%;
        }
    }

    .div-22 {
        border-radius: 10px;
        background-color: #fff;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        font-size: 16px;
        color: #000;
        font-weight: 400;
        text-align: center;
        width: 100%;
        padding: 29px 44px 50px;
    }

    @@media (max-width: 991px) {
        .div-22 {
            margin-top: 40px;
            padding: 0 20px;
        }
    }

    .div-23 {
        font-family: Inter, sans-serif;
        stroke-width: 3px;
        background-color: #fff;
        border-radius: 50%;
        align-self: center;
        justify-content: center;
        white-space: nowrap;
        padding: 32px 38px;
    }

    @@media (max-width: 991px) {
        .div-23 {
            white-space: initial;
            padding: 0 20px;
        }
    }

    .div-24 {
        margin-top: 19px;
        font: 24px Inter, sans-serif;
    }

    .div-25 {
        color: #98a5b6;
        font-family: Inter, sans-serif;
        margin-top: 17px;
    }

    .column-3 {
        display: flex;
        flex-direction: column;
        line-height: normal;
        width: 25%;
        margin-left: 20px;
    }

    @@media (max-width: 991px) {
        .column-3 {
            width: 100%;
        }
    }

    .div-26 {
        border-radius: 10px;
        background-color: #fff;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        align-items: center;
        font-size: 16px;
        color: #000;
        font-weight: 400;
        text-align: center;
        width: 100%;
        padding: 29px 53px 50px;
    }

    @@media (max-width: 991px) {
        .div-26 {
            margin-top: 40px;
            padding: 0 20px;
        }
    }

    .div-27 {
        font-family: Inter, sans-serif;
        stroke-width: 3px;
        background-color: #fff;
        border-radius: 50%;
        justify-content: center;
        white-space: nowrap;
        padding: 32px 38px;
    }

    @@media (max-width: 991px) {
        .div-27 {
            white-space: initial;
            padding: 0 20px;
        }
    }

    .div-28 {
        margin-top: 19px;
        font: 24px Inter, sans-serif;
    }

    .div-29 {
        color: #98a5b6;
        font-family: Inter, sans-serif;
        align-self: stretch;
        margin-top: 21px;
    }

    .column-4 {
        display: flex;
        flex-direction: column;
        line-height: normal;
        width: 25%;
        margin-left: 20px;
    }

    @@media (max-width: 991px) {
        .column-4 {
            width: 100%;
        }
    }

    .div-30 {
        border-radius: 10px;
        background-color: #fff;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        align-items: center;
        font-size: 16px;
        color: #000;
        font-weight: 400;
        width: 80%;
        padding: 29px 44px 50px;
    }

    @@media (max-width: 991px) {
        .div-30 {
            margin-top: 40px;
            padding: 0 20px;
        }
    }

    .div-31 {
        font-family: Inter, sans-serif;
        stroke-width: 3px;
        background-color: #fff;
        border-radius: 50%;
        justify-content: center;
        white-space: nowrap;
        text-align: center;
        padding: 32px 38px;
    }

    @@media (max-width: 991px) {
        .div-31 {
            white-space: initial;
            padding: 0 20px;
        }
    }

    .div-32 {
        margin-top: 18px;
        white-space: nowrap;
        font: 24px Inter, sans-serif;
    }

    @@media (max-width: 991px) {
        .div-32 {
            white-space: initial;
        }
    }

    .div-33 {
        color: #98a5b6;
        text-align: center;
        font-family: Inter, sans-serif;
        align-self: stretch;
        margin-top: 44px;
    }

    @@media (max-width: 991px) {
        .div-33 {
            margin-top: 40px;
        }
    }

    .div-34 {
        align-self: center;
        display: flex;
        margin-top: 117px;
        width: 100%;
        max-width: 1101px;
        flex-direction: column;
        font-weight: 400;
        padding: 0 20px;
    }

    @@media (max-width: 991px) {
        .div-34 {
            max-width: 100%;
            margin-top: 40px;
        }
    }

    .div-35 {
        color: #000;
        font: 40px Inter, sans-serif;
    }

    @@media (max-width: 991px) {
        .div-35 {
            max-width: 100%;
        }
    }

    .div-36 {
        color: rgba(0, 0, 0, 0.5);
        margin-top: 23px;
        font: 23px Inter, sans-serif;
    }

    @@media (max-width: 991px) {
        .div-36 {
            max-width: 100%;
        }
    }

    .div-37 {
        color: #000;
        leading-trim: both;
        text-edge: cap;
        text-transform: uppercase;
        margin-top: 34px;
        font: 26px Poppins, sans-serif;
    }

    @@media (max-width: 991px) {
        .div-37 {
            max-width: 100%;
        }
    }
    /* .div-38 {
              border-radius: 10px;
              background-color: #f3f1ff;
              display: flex;
              margin-top: 13px;
              align-items: center;
              justify-content: space-between;
              gap: 20px;
              text-transform: uppercase;
              padding: 0 12px;
            }
            @@media (max-width: 991px) {
              .div-38 {
                max-width: 100%;
                flex-wrap: wrap;
              }
            } */
    .div-39 {
        color: #000;
        leading-trim: both;
        text-edge: cap;
        align-self: stretch;
        margin: auto 0;
        font: 26px Poppins, sans-serif;
    }
    /* .div-40 {
              background-color: rgba(0, 0, 0, 0.4);
              align-self: stretch;
              width: 1px;
              height: 68px;
            } */
    .div-41 {
        color: rgba(0, 0, 0, 0.5);
        leading-trim: both;
        text-edge: cap;
        align-self: stretch;
        flex-grow: 1;
        flex-basis: auto;
        margin: auto 0;
        font: 20px Poppins, sans-serif;
    }

    @@media (max-width: 991px) {
        .div-41 {
            max-width: 100%;
        }
    }

    .div-44 {
        leading-trim: both;
        text-edge: cap;
        font-family: Poppins, sans-serif;
        flex-grow: 1;
        flex-basis: auto;
        margin: auto 0;
    }

    @@media (max-width: 991px) {
        .div-44 {
            max-width: 100%;
        }
    }

    .div-45 {
        color: #000;
        leading-trim: both;
        text-edge: cap;
        text-transform: uppercase;
        margin-top: 34px;
        font: 25px Poppins, sans-serif;
    }

    @@media (max-width: 991px) {
        .div-45 {
            max-width: 100%;
        }
    }

    .div-46 {
        color: #000;
        leading-trim: both;
        text-edge: cap;
        text-transform: uppercase;
        margin-top: 62px;
        font: 25px Poppins, sans-serif;
    }

    @@media (max-width: 991px) {
        .div-46 {
            max-width: 100%;
            margin-top: 40px;
        }
    }
</style>